{% extends 'base.html' %}
{% load static %}

{% block 'head' %}

    <link href="{% static 'empresa/css/empresas.css' %}" rel="stylesheet"> 

{% endblock %}


{% block 'body' %}
    <div class="wrapper">
        <div class="box"> 
            <div class="header-box">
                {% if messages %}
                    {% for message in messages %}
                        <section class="alert {{message.tags}}">
                            {{message}}
                        </section>
                    {% endfor %}
                {% endif %}
                <h2 class="titulo">Gerenciar empresas</h2>
                <a class="btn-nova-empresa">Nova empresa</a>
            </div>
            <div class="borda-box"></div>
            <div class="body-box">
            
                <form>
                <div class="row">
                    
                        <div class="col-md-5">
                            <input type="text" placeholder="Busque pelo nome" class="form-control" name="nome">
                        </div>

                        <div class="col-md-4">
                            <select class="form-select" name="tecnologias">
                                <option value="">--------</option>
                            </select>
                        </div>
                    
                    <div class="col-md-3">
                        <input type="submit" value="FILTRAR" class="btn btn-lg btn-orange">
                    </div>
                </div>
                </form>

                <table class="tabela" cellpadding="20">
                    <tr>
                        <th>Nome</th>
                        <th>Endereço</th>
                        <th>Tecnologias usadas</th>
                        <th>Quantidade de vagas</th>
                        <th>Ação</th>
                    </tr>

                        {% for empresa in empresas %}
                            <tr class="tabela-linha" >
                                <td>{{empresa.nome}}</td>
                                <td>{{empresa.endereco}}</td>
                                <td>Nome da empresa</td>
                                <td>Endereço da empresa</td>
                                <td>
                                    <select class="form-select">       
                                        <option></option>                    
                                    </select>
                                </td>
                                <td>
                                    Quantidade de vagas
                                </td>
                                <td>
                                    <a class="btn-excluir">Excluir empresa</a>
                                </td>
                            </tr>
                        {% endfor %}
                    
                </table>
            </div>


            

        </div>
    </div>

{% endblock%}